.card-md {
    background: none;
    margin: 0;
    box-shadow: none;
    padding: 0;
    width: 100%;
}

.input_group {
    margin: 0;
    input {
        padding: 10px;
        display: block;
        width: 100%;
        border: 0;
        font-size: 14px;
        height: 50px;
        color: #999;
        box-shadow: 1px 1px 2px #999;
        margin-bottom: 10px;
    }
}

.com_button {
    float: right;
    margin: 0;
    box-shadow: none;
    padding: 0;
    height: 45px;
    .button-inner {
        display: block;
        button {
            display: block;
            background: #FD6E00 !important;
            color: #fff;
            padding: 10px;
            border: 0;
            width: 100%;
            border-radius: 0;
            font-size: 15px;
            text-transform: uppercase;
            float: right;
            height: 45px;
        }
    }
}